@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}

.OctoLoading {
  position: fixed;
  z-index: 1100;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
    div {
      height: 100%;
    }
  }


  /* loader 1 */
  .loader1, .loader1 div {
    @include loaderDivMixin;
    border-top-color: $primary;
    border-bottom-color: $secondary;
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $primary;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $secondary;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $primary;
  }
}
