<div class="OctoLoading">
    <div class='loader loader1'>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  export default {
    name: "OctoLoading",
    data: () => ({
      loading: false
    }),
  }
</script>

<style scoped lang="scss">

</style>
