<template>
    <div>
        <div class="img-cropper">
            <vue-cropper
                ref="cropper"
                :checkOrientation="false"
                :src="imgToCropLocal"
                :checkCrossOrigin="true"
                :minContainerHeight="400"
                @ready=clear
            />
        </div>
        <input
            ref="input"
            type="file"
            name="image"
            accept="image/*"
            @change="setImage"
        />
        <div class="d-flex justify-content-center align-items-center mt-3">

            <div class="ml-2">
                <div class="crop-action" @click.prevent="zoom(0.2)">
                    <octo-icon icon="zoom-in"></octo-icon>
                </div>
                <div class="crop-action" @click.prevent="zoom(-0.2)">
                    <octo-icon icon="zoom-out"></octo-icon>
                </div>
            </div>
            <div class="d-flex ml-2 align-items-center">
                <div class="crop-action" @click.prevent="move(-10, 0)">
                    <octo-icon icon="left-arrow"></octo-icon>
                </div>
                <div>
                    <div class="crop-action" @click.prevent="move(0, -10)">
                        <octo-icon icon="up-arrow"></octo-icon>
                    </div>
                    <div class="crop-action" @click.prevent="move(0, 10)">
                        <octo-icon icon="down-arrow"></octo-icon>
                    </div>
                </div>

                <div class="crop-action" @click.prevent="move(10, 0)">
                    <octo-icon icon="right-arrow"></octo-icon>
                </div>
            </div>
            <div class="ml-2">
                <div class="crop-action" @click.prevent="rotate(90)">
                    <octo-icon icon="rotate"></octo-icon>
                </div>
                <div class="crop-action" @click.prevent="rotate(-90)">
                    <octo-icon icon="rotate-1"></octo-icon>
                </div>
            </div>
            <div class="ml-2">
                <div class="crop-action" ref="flipX" @click.prevent="flipX">
                    <octo-icon icon="flip-1"></octo-icon>
                </div>
                <div class="crop-action" ref="flipY" @click.prevent="flipY">
                    <octo-icon icon="flip"></octo-icon>
                </div>
            </div>
            <div class="d-flex ml-2 align-items-center border-left">
                <div class="ml-3">
                    <octo-input class="mb-2"
                                placeholder="Width"
                                icon="sign"
                                v-model="cropSize.width"
                                name="imageCropWidth"
                    />
                    <octo-input
                        icon="interface"
                        placeholder="Height"
                        v-model="cropSize.height"
                        name="imageCropHeight"/>
                </div>
                <div class="ml-2">
                    <div class="crop-action" @click.prevent="setAspectRatio">
                        <octo-icon icon="tick"></octo-icon>
                    </div>
                    <div class="crop-action" @click.prevent="reset">
                        <octo-icon icon="refresh"></octo-icon>
                    </div>
                    <div class="crop-action" @click.prevent="clear">
                        <octo-icon icon="wrong"></octo-icon>
                    </div>
                </div>
            </div>
            <div class="ml-2 d-flex flex-column justify-content-center">

                <div class="crop-action" @click.prevent="showFileChooser">
                    <octo-icon icon="cloud-computing"></octo-icon>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import VueCropper from '@adminNodeModules/vue-cropperjs';
import OctoIcon from "../octo-icon/OctoIcon";
import OctoInput from "../octo-input/OctoInput";

export default {
    name: "OctoCropper",
    components: {OctoInput, OctoIcon, VueCropper},
    data() {
        return {

            cropSize: {
                width: null,
                height: null
            },
            imgToCropLocal: '',
            imageIsChange: false
        }
    },
    props: {
        imgToCrop: {
            type: String,
            default: ''
        },
        showModal: {
            type: Boolean,
            default: false
        },
        isNewImage: {
            type: Boolean,
            default: true
        }
    },
    mounted() {
        this.imgToCropLocal = this.imgToCrop;
        this.$refs.cropper.replace(this.imgToCropLocal);
    },
    methods: {

        flipX() {
            const dom = this.$refs.flipX;
            let scale = dom.getAttribute('data-scale');
            scale = scale ? -scale : -1;
            this.$refs.cropper.scaleX(scale);
            dom.setAttribute('data-scale', scale);
            this.imageIsChange = true;
        },
        flipY() {
            const dom = this.$refs.flipY;
            let scale = dom.getAttribute('data-scale');
            scale = scale ? -scale : -1;
            this.$refs.cropper.scaleY(scale);
            dom.setAttribute('data-scale', scale);
            this.imageIsChange = true;
        },

        move(offsetX, offsetY) {
            this.$refs.cropper.move(offsetX, offsetY);
            this.imageIsChange = true;
        },
        reset() {
            this.$refs.cropper.reset();
            this.$refs.cropper.setAspectRatio(null);
            this.cropSize.width = null;
            this.cropSize.height = null;
            this.imageIsChange = false;
        },
        rotate(deg) {
            this.$refs.cropper.rotate(deg);
            this.imageIsChange = true;
        },

        zoom(percent) {
            this.$refs.cropper.relativeZoom(percent);
            this.imageIsChange = true;
        },

        clear() {
            this.$refs.cropper.clear();
            this.$refs.cropper.setAspectRatio(null);
            this.cropSize.width = null;
            this.cropSize.height = null;
            this.imageIsChange = false;
        },

        setAspectRatio() {
            if (this.cropSize.width && this.cropSize.height) {
                const data = this.$refs.cropper.getCropBoxData();
                const ratio = this.cropSize.width / this.cropSize.height;
                data.width = 100;
                data.height = 100 * ratio;
                this.$refs.cropper.setCropBoxData(data);
                this.$refs.cropper.setAspectRatio(ratio);
            }

        },

        getCroppedImage() {

            return this.isNewImage || this.imageIsChange || !this.$_.isEmpty(this.$refs.cropper.getCropBoxData())
                ? {
                    src: this.$refs.cropper.getCroppedCanvas().toDataURL(),
                    height: this.cropSize.height,
                    width: this.cropSize.width
                }
                : null
        },
        showFileChooser() {
            this.$refs.input.click();
        },
        setImage(e) {
            const file = e.target.files[0];
            if (file.type.indexOf('image/') === -1) {
                alert('Please select an image file');
                return;
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader();
                reader.onload = (event) => {
                    this.imgToCropLocal = event.target.result;
                    // rebuild cropperjs with the updated source
                    this.$refs.cropper.replace(this.imgToCropLocal);
                    this.imageIsChange = true;
                };
                reader.readAsDataURL(file);
                this.$emit('onUploadNewImage', true)
            } else {
                alert('Sorry, FileReader API not supported');
            }
        },

    },
}
</script>

<style scoped lang="scss">
@import '~cropperjs/dist/cropper.css';

input[type="file"] {
    display: none;
}

.crop-action {
    padding: 1px 5px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
}

.crop-image-button {
    padding: 1px 5px;
    font-size: 20px;
    border-radius: 5px;
    margin: 3px;
}
</style>
