<template>
    <div class="d-flex justify-content-end bg-primary w-100 header-button">
        <div v-for="(button, index) in buttons" v-bind:key="index">
            <div v-on:click="$emit(button.onClick)"
                class="d-flex align-items-center bg-dark py-2 px-3 mr-3" >
                <div class="text-uppercase text-white">{{button.label}}</div>
                <octo-icon v-if=button.icon
                           class="ml-3 text-white"
                           :icon="button.icon"/>
            </div>
        </div>
    </div>
</template>

<script>
    import OctoIcon from "../octo-icon/OctoIcon";
    export default {
        name: "OctoHeaderButton",
        components: {OctoIcon},
        props: {
            buttons: {
                type: Array,
                default: () => []
            },
        },
    }
</script>

<style scoped lang="scss">
.header-button {
    min-height: 15px;
}

</style>
