<template>
    <b-sidebar backdrop right shadow
               header-class="text-uppercase"
               :title="title"
               v-model="localShowSidebar"
               @hidden="$emit('onHidden')"
               :width="width"
    >
        <div class="p-2">
            <slot></slot>
        </div>

        <template v-slot:footer>
            <div class="d-flex justify-content-around w-100 sidebarButtons p-2">
                <div v-for="(button, index) in buttons" v-bind:key="index">
                    <octo-button class="py-1 m-1"
                                 :label="button.label"
                                 :icon="button.icon"
                                 :style-btn="button.styleBtn || 'primary-button'"
                                 :confirm-data="button.confirmData"
                                 @onClick="$emit(button.onClick)"
                    />
                </div>
            </div>
        </template>

    </b-sidebar>
</template>

<script>
    import OctoButton from "../octo-button/OctoButton";

    export default {
        name: "OctoSidebarRight",
        components: {OctoButton},
        data() {
            return {
                localShowSidebar: false
            }
        },
        props: {
            title: {
                type: String,
                default: () => 'title'
            },
            showSidebar: {
                type: Boolean,
                default: () => false
            },
            buttons: {
                type: Array,
                default: () => []
            },
            width: {
                type: String,
                default: '40%'
            }
        },
        watch: {
            showSidebar: function (val) {
                this.localShowSidebar = val;
            },
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
