$primary: #01B6AB !default;
$primary-dark: #2e6533 !default;
$secondary: #1F497D !default;
$secondary-dark: #1F497D !default;

$text-color: #53565e !default;
$bg-color: #f9f9f9 !default;

$button-text-primary: white !default;
$button-bg-primary-light: $primary !default;
$button-bg-primary-dark: $primary-dark !default;
$button-border-primary: #256034 !default;

$button-text-secondary: $primary !default;
$button-bg-secondary-light: white !default;
$button-bg-secondary-dark: #dcdcdc !default;
$button-border-secondary: $primary !default;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~@riophae/vue-treeselect/dist/vue-treeselect.css';
@import '~vue-loading-overlay/dist/vue-loading.css';

@import "./octo-input/octo-input";
@import "./octo-text-area/octo-text-area";
@import "./octo-select/octo-select";
@import "./octo-select-async/octo-select-async";
@import "./octo-multi-select/octo-multi-select";
@import "./octo-button/octo-button";
@import "./octo-loading/octo-loading";
@import "./octo-table/octo-table";
