<template>
    <b-container fluid class="vh-100">
        <b-row class="align-items-stretch justify-content-center vh-100">
            <b-col class="my-auto" cols="12" md="6" lg="3">
                <b-card no-body class="shadow-lg">
                    <div class="w-50 mx-auto mt-3">
                        <img :src="imgLogo" class="img-fluid">
                    </div>
                    <div class="title text-uppercase text-primary text-center mt-3">
                        {{ title }}
                    </div>
                    <div v-if="nodeEnv" class="small text-uppercase text-center mb-3">
                        {{ nodeEnv }}
                    </div>
                    <b-list-group flush class="mb-3">
                        <b-list-group-item v-for="progress in progresses" v-bind:key="progress.name">
                            <div class="mb-2">{{ progress.label }}</div>
                            <b-progress :value="progress.value" class="progress"/>
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import {routes} from "../routes";

export default {
    name: "LoadConfigView",
    components: {},

    data() {
        return {
            imgLogo: '/assets-' + process.env.MIX_ADMIN_PREFIX + '/img/logo.png',
            progresses: {
                modules: {
                    name: 'modules',
                    value: 0,
                    label: 'Caricamento Moduli'
                },
                settings: {
                    name: 'settings',
                    value: 0,
                    label: 'Caricamento Impostazioni'
                },
            },
        }
    },
    computed: {

        title: function () {
            return process.env.MIX_ADMIN_TITLE
        },
        nodeEnv: function () {
            return process.env.MIX_APP_ENV === 'production' ? false : process.env.MIX_APP_ENV
        }
    },
    async mounted() {
        this.progresses.modules.value = 50;
        const modules = await this.getModules();
        this.$localStorage.set('modules', modules);
        this.progresses.modules.value = 100;

        this.progresses.settings.value = 50;
        const settings = await this.getSettings();
        this.$localStorage.set('settings', settings);
        this.progresses.settings.value = 100;

        this.$routerDispatch.redirect(routes.PAGE_CORE_INDEX);
    },
    methods: {
        getModules() {
            return new Promise((resolve, reject) => {
                this.$api.get(routes.CONFIG_MODULES_INDEX)
                    .then((resp) => {
                        resolve(resp.data);
                    })
                    .catch((err) => {
                        reject(err)
                    });
            });
        },
        getSettings() {
            return new Promise((resolve, reject) => {
                this.$api.get(routes.CONFIG_SETTINGS_INDEX)
                    .then((resp) => {
                        resolve(resp.data);
                    })
                    .catch((err) => {
                        reject(err)
                    });
            });
        },
    }
}
</script>

<style scoped>

</style>
