<template>
    <div class="OctoTextArea">
        <label class="OctoTextArea__Label" v-if="label" :for="`input-${name}`">{{label}}</label>
        <b-form-textarea
            no-resize
            :class="error ? 'is-invalid' : ''"
            :id="`input-${name}`"
            v-model="localValue"
            :placeholder="placeholder"
            :disabled="!enabled"
            :rows="rows"
        />
    </div>
</template>

<script>
    export default {
        name: "OctoTextArea",
        components: {},
        data() {
            return {
                localValue: null
            };
        },
        props: {
            label: {
                default: null,
                type: [String]
            },
            rows: {
                default: 3,
                type: Number
            },
            maxRows: {
                default: 6,
                type: Number
            },
            name: {
                required: true,
                type: [String]
            },
            value: {
                required: true,
            },
            placeholder: {
                default: 'Enter something...',
                type: [String]
            },
            enabled: {
                type: Boolean,
                default: true
            },
            error: {
                type: Boolean,
                default: false
            },
        },
        created() {
            this.localValue = this.value;
        },
        watch: {
            value: function () {
                this.localValue = this.value;
            },
            localValue: function (val) {
                this.$emit("input", val ? val : '');
            }
        },
        computed: {

        }
    }
</script>

<style scoped lang="scss">

</style>
