<template>
    <div class="OctoInput">
        <label class="OctoInput__Label" v-if="label">{{label}}</label>
        <b-form-datepicker class="OctoInput__Input"
                           v-model="localValue"
                           :class="error ? 'is-invalid' : ''"
                           :disabled="!enabled"
                           :placeholder="placeholder"
        />
    </div>
</template>

<script>
    export default {
        name: "OctoDatePicker",
        data() {
            return {
                localValue: ''
            }
        },
        props: {
            label: {
                default: null,
                type: [String]
            },
            value: {
                required: true,
            },
            placeholder: {
                default: '',
                type: [String]
            },
            enabled: {
                type: Boolean,
                default: true
            },
            error: {
                type: Boolean,
                default: false
            },
        },
        created() {
            this.localValue = this.value;
        },
        watch: {
            value: function () {
                this.localValue = this.value;
            },
            localValue: function (val) {
                this.$emit("input", val ? val : '');
            },

        },
    }
</script>

<style scoped>

</style>
