<template>
    <b-row class="mb-3">
        <b-col cols="12">
            <b-alert variant="primary" class="text-uppercase text-left py-1 flex-grow-1" show>
                {{ title }}
            </b-alert>
        </b-col>
        <b-col cols="12" v-for="(item, index) in localValues" v-bind:key="index">
            <b-card no-body class="p-2 mb-2">
                <div class="d-flex align-items-center">
                    <div>
                        {{ item.label }}
                    </div>
                    <div class="ml-auto">
                        <b-form-radio v-model="localInitialValue"
                                      :name="`item.value-${index}-${item.value}`"
                                      :value="item.value"
                                      @change="$emit('change', item.value)"
                        />
                    </div>
                </div>
            </b-card>
        </b-col>
    </b-row>
</template>

<script>
export default {
    name: "OctoRadioGroup",
    data() {
        return {
            localInitialValue: '',
            localValues: []
        }
    },
    props: {
        title: {
            type: String,
            default: '',
        },
        initialValue: {
            type: String,
            default: '',
        },
        values: {
            type: Array,
            default: () => [],
        },
        value: {
            required: true,
        },
    },
    mounted() {
        this.localInitialValue = this.initialValue;

        this.localValues = this.values.map(function (item) {
            return {"value": item.value || item, "label": item.label || item};
        });

    },
    watch: {
        value: function () {
            this.localInitialValue = this.value;
        },
        localInitialValue: function (val) {
            this.$emit("input", val ? val : '');
        }
    }

}
</script>

<style scoped>

</style>
