<template>
    <b-container fluid class="px-0">
        <b-row class="no-gutters">
            <b-col cols="12" class="d-flex justify-content-around">
                <div class="position-relative container-image"
                     @click="onClickOnImage"
                     @dragover.prevent @drop.stop.prevent="addFileFromDrag">
                    <div class="info">
                        <div class="text-center text-white">Drag or Click to Upload</div>
                    </div>
                    <img :src="imageUrl"
                         class="img-thumbnail shadow-sm image" alt=""/>
                    <input accept="image/*" type="file" @change="addFileFromClick" v-show="false" ref="fileInput"/>
                </div>
            </b-col>
        </b-row>
        <octo-modal :visible="showModal"
                    title="Upload Image"
                    title-icon="image"
                    size="lg"
                    :buttons="buttons"
                    @onSaveImage="onSaveImage">
            <b-container>
                <b-row>
                    <b-col cols="12">
                        <octo-cropper
                            :is-new-image="isNewImage"
                            @onUploadNewImage="(item) => this.isNewImage = item"
                            ref="octoCropper"
                            :show-modal="showModal"
                            :img-to-crop="imgToCrop"/>
                    </b-col>
                </b-row>
            </b-container>
        </octo-modal>
    </b-container>
</template>

<script>

    import OctoCropper from "../octo-cropper/OctoCropper";
    import OctoModal from "../octo-modal/OctoModal";

    export default {
        name: "OctoSimpleImage",
        components: {OctoModal, OctoCropper},
        data() {
            return {
                file: null,
                srcLocal: '',
                imgToCrop: '',
                showModal: false,
                isNewImage: false,
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveImage',
                        variant: 'primary',

                    }
                ],
                settings : {}
            }
        },
        props: {
            src: {
                type: String,
                default: ''
            }
        },
        computed: {
            imageUrl: function () {
                return this.src || require('./placeholder.png');
            },
        },
        beforeMount() {
            this.settings = this.$localStorage.getSettings();
        },
        mounted() {
            this.$root.$on('bv::modal::hide', () => {
                this.showModal = false;
            });
        },
        methods: {

            onClickOnImage: function () {
                if (this.imageUrl !== require('./placeholder.png')) {
                    this.imgToCrop = this.imageUrl;
                    this.showModal = true;
                    this.isNewImage = false;
                } else {
                    this.$refs.fileInput.click();
                    this.isNewImage = true;
                }
            },

            addFileFromDrag: function (file) {
                this.file = file.dataTransfer.files[0];
                this.imgToCrop = URL.createObjectURL(this.file)
                this.showModal = true;
                this.isNewImage = true;

            },

            addFileFromClick: function (event) {
                this.file = event.target.files[0];
                if (this.file) {
                    this.imgToCrop = URL.createObjectURL(this.file)
                    this.showModal = true;
                    this.isNewImage = true;
                }
            },

            onSaveImage() {
                const croppedImage = this.$refs.octoCropper.getCroppedImage();
                if (croppedImage) {
                    this.$fullLoading.show();
                    this.$api.post(
                        'api/admin/v1/sitebuilder/block-html/upload-media',
                        croppedImage
                    )
                        .then((resp) => {
                            this.$fullLoading.hide();
                            this.srcLocal = resp.data.src;
                            this.showModal = false;
                            this.$emit('onSaveImage', this.srcLocal)
                        })
                        .catch(() => {
                            this.$fullLoading.hide();
                        })
                } else {
                    this.$emit('onSaveImage', this.srcLocal);
                    this.showModal = false;
                }
            },
        },
    }
</script>

<style scoped lang="scss">
    .info {
        position: absolute;
        height: 26px;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(42, 37, 37, 0.56);
        font-size: 9px;
    }

    .container-image {
        width: 140px;
        height: 140px;
    }

    .image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>
