<template>
    <b-container fluid class="tableContainer">
        <b-row class="align-items-end" v-if="showFilters">
            <slot name="custom-filters"></slot>
            <b-col class="flex-grow-1 mb-3">
                <octo-input
                    name="query"
                    placeholder="Ricerca ..."
                    v-model="query"
                    icon="search"
                    type="text"/>
            </b-col>
            <b-col cols="12" md="2" class="ml-auto mb-3">
                <octo-button
                    class="float-right"
                    @onClick="changeTableSettings"
                    label="Filtra"/>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="p-0">
                <b-table striped hover
                         :ref="name"
                         :per-page="rowsInPage"
                         :items="tableItems"
                         :fields="fields"
                         class="OctoTable">

                    <slot v-for="(_, name) in $slots" :name="name" :slot="name"/>
                    <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
                        <slot :name="name" v-bind="slotData"/>
                    </template>

                </b-table>
                <octo-table-loading v-if="showLoading"/>
            </b-col>
        </b-row>
        <b-row v-if="!tableItems.length && !showLoading">
            <b-col cols="12">
                <b-alert variant="primary" class="text-center" show>
                    Nessun risultato trovato
                </b-alert>
            </b-col>
        </b-row>
        <b-row class="align-items-center" v-if="tableItems.length">
            <b-col cols="12" md="3" class="text-left">
                <div class="small">Tot. Risultati: {{totalRows}}</div>
                <div class="small" v-if="totalRows > rowsInPage">Pag: {{currentPage}} di {{totalPages}}</div>
            </b-col>
            <b-col v-if="totalRows > rowsInPage" cols="12" md="auto" class="ml-auto">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="rowsInPage"
                    class="my-0"
                    @input="getData"
                ></b-pagination>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

    import OctoInput from "../octo-input/OctoInput";
    import OctoButton from "../octo-button/OctoButton";
    import OctoTableLoading from "./OctoTableLoading";

    export default {
        name: "OctoTable",
        components: {OctoTableLoading, OctoButton, OctoInput},
        data() {
            return {
                currentPage: 1,
                rowsInPage: 25,
                rowsInPageSelect: 10,
                showLoading: false,
                pageOptions: [
                    {name: 5, value: 5},
                    {name: 10, value: 10},
                    {name: 25, value: 25},
                    {name: 50, value: 50},
                    {name: 100, value: 100}
                ],
                tableItems: [],
                totalRows: 0,
                buttonPrimarySettings: {
                    label: 'Applica'
                },
                query: '',
            }
        },
        props: {
            fields: {
                type: Array,
                require: true,
                default: () => []
            },
            showFilters: {
                type: Boolean,
                default: false
            },
            action: {
                type: String,
                require: true
            },
            name: {
                type: String,
                default: 'table-' + Math.random().toString(36).substring(7)
            },
            initRowsInPage: {
                type: Number,
                default: 25
            },
            filters: {
                type: Object,
                default: () => {
                }
            },

        },
        mounted() {
            this.rowsInPage = this.initRowsInPage;
            const data = this.$localStorage.get(this.name);
            this.query = (data && data.query) ? data.query : '';
            this.currentPage = (data && data.currentPage) ? data.currentPage : 1;
            this.getData();

        },

        computed: {

            totalPages: function () {
                return Math.ceil(this.totalRows / this.rowsInPage);
            },
        },

        methods: {

            getData() {
                this.showLoading = true;

                const data = {
                    currentPage: this.currentPage,
                    rowsInPage: this.rowsInPage,
                    filters: this.filters,
                    query: this.query
                };

                this.$localStorage.set(this.name, data);

                this.$api.post(
                    this.action, data)
                    .then((data) => {
                        this.tableItems = data.data.collection.length ? data.data.collection : [];
                        this.totalRows = data.data.total;
                        this.showLoading = false;
                    })
                    .catch(() => {
                        this.showLoading = false;
                    });
            },

            changeTableSettings() {
                this.tableItems = [];
                this.rowsInPage = this.rowsInPageSelect;
                this.currentPage = 1;
                this.getData();
            },


        }

    }
</script>

<style scoped lang="scss">
    .tableContainer {
        min-height: 250px;
    }
</style>
