/**
LOADING
 */

// amount (start with 0 see each in html/jade)
$circles: 4;
$radius: 4em;
// ball width
$width: .5em;

.OctoTableLoading {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 10;
  margin-left: -60px;
  top: 50px;
  left: 50%;

  &__CircleLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $radius*2;
    height: $radius * 2;
    margin-left: -$radius;
    margin-top: -$radius;
  }

  &__Label {
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
    height: 20px;
    color: $secondary;
  }

  // base circle
  &__Circle {
    position: absolute;
    // align in the container
    top: 0;
    left: 50%;
    margin-left: -$width/2;
    // rotation
    transform-origin: $width/2 $radius;
    animation: rotate-animation 2.5s infinite;
    // round
    width: $width;
    height: $width;
    border-radius: $width/2;
    // color
    background-color: $primary;
    box-shadow: 0 0 $width rgba(255, 255, 255, .5);
  }

}

//Centered box, circle container
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// here comes the magic
@for $i from 0 through $circles {
  // generate a weight/percent
  $percent: ($i/$circles)*.65;
  // generate a css class with it
  .circle-#{$i} {
    animation-timing-function: cubic-bezier($percent, 0, 1-$percent, 1);

  }
}

/**
TABLE
 */

.OctoTable {
  //background-color: white;
  thead {
    tr {

      //background-image: linear-gradient(to bottom, $table-header-light , $table-header-dark);
      //background-color: white;
      color: $primary;
      th {
        text-transform: uppercase;
        text-align: center;
        border:none;
        font-weight: 200;
        padding: 5px 2px;
      }
    }

  }

  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 5px 2px;
        font-size: 13px;

      }
    }
  }
}
