<template>
  <div class="OctoTableLoading">
    <div class="OctoTableLoading__CircleLoader">
      <div class="OctoTableLoading__Label">Loading ...</div>
      <div class="OctoTableLoading__Circle circle-0"></div>
      <div class="OctoTableLoading__Circle circle-1"></div>
      <div class="OctoTableLoading__Circle circle-2"></div>
      <div class="OctoTableLoading__Circle circle-3"></div>
      <div class="OctoTableLoading__Circle circle-4"></div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "OctoTableLoading"
    }
</script>

<style scoped >

</style>
