<template>
    <b-button class="OctoButton d-flex align-items-center"
              :disabled="!enabled"
              :class="[
            { 'block': block },
              styleBtn,
            { 'disabled': !enabled }
            ]"
              v-on:click.prevent="onClick">
        <div v-if="icon" class="OctoButton__Icon">
            <octo-icon :icon="icon"/>
        </div>
        <div class="mx-2" v-if="label && icon"></div>
        <div v-if="label" class="OctoButton__Label">
            {{label}}
        </div>

    </b-button>
</template>

<script>
    import OctoIcon from "../octo-icon/OctoIcon";

    export default {
        name: "OctoButton",
        components: {OctoIcon},
        props: {
            block: {
                type: Boolean,
                default: false
            },
            enabled: {
                type: Boolean,
                default: true
            },
            styleBtn: {
                type: String,
                default: 'primary-button'
            },
            label: {
                type: String,
                default: null
            },
            icon: {
                type: String,
                default: null
            },
            confirmData: {
                type: Object,
                default: () => {
                }
            }

        },

        methods: {
            onClick: function () {
                if (!this.$_.isEmpty(this.confirmData)) {
                    this.$bvModal.msgBoxConfirm(
                        this.confirmData.message || 'Sei sicuro di voler proseguire ?',
                        {
                            title: this.confirmData.title || 'Conferma azione',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'primary',
                            cancelVariant: 'dark',
                            okTitle: 'SI',
                            cancelTitle: 'NO',
                            footerClass: 'p-1',
                            headerClass: 'py-1 px-2',
                            hideHeaderClose: true,
                            noCloseOnBackdrop: true,
                            noCloseOnEsc: true,
                            centered: true
                        })
                        .then(value => {
                            if (value) {
                                this.$emit('onClick')
                            }
                        })
                } else {
                    this.$emit('onClick')
                }

            }
        }
    }
</script>

<style scoped>

</style>
