.OctoButton {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 5px !important;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 200;
    position: relative;
    display: block;

    &.primary-button {
        color: $button-text-primary;
        background-color: $button-bg-primary-light;
        background-image: linear-gradient($button-bg-primary-light, $button-bg-primary-dark);
        border-color: $button-border-primary;
    }

    &.secondary-button {
        color: $button-text-secondary !important;
        background-color: $button-bg-secondary-light !important;
        background-image: linear-gradient($button-bg-secondary-light, $button-bg-secondary-dark) !important;
        border-color: $button-border-secondary;
    }

    &.light-button {
        color: $button-text-secondary !important;
        background-color: transparent !important;
        background-image: none !important;
        border: none;
        padding: 5px;
        font-size: 18px;
    }

    &.light-button-danger {
        color: $red !important;
        background-color: transparent !important;
        background-image: none !important;
        border: none;
        padding: 5px;
        font-size: 18px;
    }
}
