<template>
    <div class="d-flex justify-content-around w-100 sidebarButtons">
        <div v-for="(button, index) in buttons" v-bind:key="index">
            <octo-button class="py-1 m-1"
                         :label="button.label"
                         :icon="button.icon"
                         :style-btn="button.styleBtn || 'primary-button'"
                         :confirm-data="button.confirmData"
                         @onClick="$emit(button.onClick)"
            />
        </div>
    </div>
</template>

<script>
    import OctoButton from "../octo-button/OctoButton";

    export default {
        name: "OctoSidebarButtons",
        components: {OctoButton},
        props: {
            buttons: {
                type: Array,
                default: () => []
            },
        },
    }
</script>

<style scoped lang="scss">
    .sidebarButtons {
        position: absolute;
        bottom: 0;
    }
</style>
