<template>
    <div class="OctoInput">
        <label class="OctoInput__Label" v-if="label" :for="`input-${name}`">{{ label }}</label>
        <octo-icon class="OctoInput__icon" v-if="icon" :icon="icon"></octo-icon>
        <b-input-group>

            <template v-slot:prepend v-if="showPrepend">
                <b-input-group-text class="text-uppercase">
                    <div v-if="prepend">{{ prepend }}</div>
                    <octo-icon :icon="prependIcon" v-if="prependIcon"/>
                </b-input-group-text>

            </template>

            <template v-slot:append v-if="showAppend">
                <b-input-group-text class="text-uppercase">
                    <div v-if="append">{{ append }}</div>
                    <octo-icon :icon="appendIcon" v-if="appendIcon"/>
                </b-input-group-text>
            </template>

            <b-input
                class="OctoInput__Input"
                :class="error ? 'is-invalid' : ''"
                :type="type"
                :placeholder="placeholder"
                v-model="localValue"
                :disabled="!enabled"
                :debounce="debounce"
                :maxlength="maxlength"
            />
        </b-input-group>
    </div>
</template>

<script>
import OctoIcon from "../octo-icon/OctoIcon";

export default {
    name: "OctoInput",
    components: {OctoIcon},
    data() {
        return {
            localValue: null,
        };
    },
    props: {
        label: {
            default: null,
            type: [String]
        },
        icon: {
            default: null,
            type: [String]
        },
        name: {
            required: true,
            type: [String]
        },
        value: {
            required: true,
        },
        type: {
            default: 'text',
            type: [String]
        },
        placeholder: {
            default: '',
            type: [String]
        },
        enabled: {
            type: Boolean,
            default: true
        },
        debounce: {
            type: Number,
            default: 0
        },
        error: {
            type: Boolean,
            default: false
        },
        maxlength: {
            type: String,
            default: '255'
        },
        prepend: {
            type: String,
            default: ''
        },
        prependIcon: {
            type: String,
            default: ''
        },
        append: {
            type: String,
            default: ''
        },
        appendIcon: {
            type: String,
            default: ''
        }
    },
    computed: {
        showPrepend: function () {
            return this.prepend || this.prependIcon
        },
        showAppend: function () {
            return this.append || this.appendIcon
        }
    },
    created() {
        this.localValue = this.value;
    },
    watch: {
        value: function () {
            this.localValue = this.value;
        },
        localValue: function (val) {
            this.$emit("input", val ? val : '');
        },

    },
}
</script>

<style scoped lang="scss">

</style>
