.OctoInput {
    position: relative;

    &__Label {
        text-transform: uppercase;
        margin-bottom: 2px;
        font-weight: 200;
    }

    &__icon {
        bottom: -2px;
        position: absolute;
        z-index: 1;
        right: 5px;
        font-size: 26px;
        color: #c2c2c2;
    }

    &__Input {

        padding: 10px 18px 10px 18px;
        transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out, background-color 0.3s ease-in-out;
        box-shadow: none;
        border: 1px solid lightgray;
        height: auto;
        line-height: normal;
        border-radius: 5px;
        display: block;
        width: 100%;
        font-weight: 200;
        background-color: white;
        background-clip: padding-box;

        &:focus {
            border: 1px solid $primary;
            box-shadow: none;
        }
    }

    .input-group-prepend {
        text-transform: uppercase;
    }



}
