<template>
    <b-card no-body class="p-2 bg-light position-relative">
        <vue-dropzone :style="{height: `${height}px`}"
                      class="overflow-auto"
                      ref="OctoDropZone"
                      id="OctoDropZone"
                      :useCustomSlot="true"
                      :options="dropzoneOptions"
                      v-on:vdropzone-success="uploaded"
                      v-on:vdropzone-error="handleError"
                      v-on:vdropzone-file-added="startUploading"
                      v-on:vdropzone-sending="sendingFile"
        >
            <slot></slot>
        </vue-dropzone>

        <div class="drop-label-overlay">
            <div>Drag and drop to upload image!</div>
            <div>...or click HERE to select a file from your computer</div>
        </div>
        <b-progress
            v-if="showProgress"
            class="drop-progress" variant="primary" :value="100" :max="100" animated>
        </b-progress>
    </b-card>
</template>

<script>
    import vue2Dropzone from "@adminNodeModules/vue2-dropzone";
    import {endpoints} from "../../router/endpoints";
    import Media from "../../models/media";

    export default {
        name: "OctoDropZone",
        components: {vueDropzone: vue2Dropzone},
        data() {
            return {
                showProgress: false,
                fileToUpload: Media
            }
        },
        props: {
            height: {
                type: Number,
                default: 350
            },
            directUpload: {
                type: Boolean,
                default: false
            },
            url: {
              type: String,
              default: 'presigned-url'
            }
        },
        computed: {
            dropzoneOptions: function () {
                return {
                    url: 'default',
                    headers: {},
                    params: {},
                    method: this.directUpload ? 'PUT' : 'POST',
                    withCredentials: !this.directUpload,
                    autoProcessQueue: false,
                    uploadMultiple: false,
                    createImageThumbnails: false,
                    // previewTemplate: '<div></div>',
                }

            },
        },
        methods: {
            uploaded: function (file, response) {
                if (this.directUpload) {
                    this.storeMedia(this.fileToUpload)
                        .then((resp) => {
                            this.showProgress = false;
                            this.$emit('onUploaded', resp)
                        }).catch(() => {
                        this.showProgress = false;
                    });
                } else {
                    this.showProgress = false;
                    this.$bvToast.toast('File caricato correttamente', {
                        title: 'Success',
                        variant: 'success'
                    });
                    this.$emit('onUploaded', response.data)
                }

            },

            startUploading: async function (file) {
                this.showProgress = true;
                this.fileToUpload.filename = file.name;
                this.fileToUpload.size = file.size;
                this.fileToUpload.mime_type = file.type;

                if (this.directUpload) {
                    const signedUrlData = await this.handleDirectUpload(this.fileToUpload);
                    this.fileToUpload.filename = signedUrlData.filename;
                    this.fileToUpload.directory = signedUrlData.directory;
                    this.fileToUpload.url = signedUrlData.url;
                } else {
                    await this.handleUpload(this.url)
                }

                this.$refs.OctoDropZone.processQueue();
            },

            handleUpload: function (url) {
                return new Promise((resolve) => {
                    this.$refs.OctoDropZone.setOption('url', process.env.VUE_APP_API_URL + '/' + url);
                    this.$refs.OctoDropZone.setOption('headers', {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    });
                    resolve();
                });
            },

            handleDirectUpload: function (file) {
                return new Promise((resolve, reject) => {
                    this.$api.post(endpoints.MEDIA_GET_PRESIGNED_URL, file)
                        .then((resp) => {
                            this.$refs.OctoDropZone.setOption('url', resp.data.signedUrl);
                            this.$refs.OctoDropZone.setOption('headers', {
                                'Content-Type': this.fileToUpload.mime_type,
                                'Cache-Control': null,
                                'X-Requested-With': null,
                                'Accept': null
                            });
                            resolve(resp.data);
                        })
                        .catch((err) => {
                            this.$bvToast.toast('File non caricato correttamente', {
                                title: 'Alert',
                                variant: 'warning'
                            });
                            reject(err);
                        });
                });
            },

            sendingFile: function (file, xhr) {
                if (this.directUpload) {
                    const _send = xhr.send;
                    xhr.send = function () {
                        _send.call(xhr, file);
                    };
                }
            },

            storeMedia: function (file) {
                return new Promise((resolve, reject) => {
                    this.$api.post(endpoints.MEDIA_STORE, file)
                        .then((resp) => {
                            this.showProgress = false;
                            this.$bvToast.toast('File caricato correttamente', {
                                title: 'Success',
                                variant: 'success'
                            });
                            resolve(resp.data.data);

                        })
                        .catch((err) => {
                            this.showProgress = false;
                            this.$bvToast.toast('File non caricato correttamente', {
                                title: 'Alert',
                                variant: 'warning'
                            });
                            reject(err);
                        })
                });
            },

            getCookie: function (name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                return parts.length === 2
                    ? decodeURIComponent(parts.pop().split(";").shift()) :
                    ''
            },

            handleError: function () {
                this.showProgress = false;
                this.$bvToast.toast('File non caricato correttamente', {
                    title: 'Alert',
                    variant: 'warning'
                });
            },
        }
    }
</script>

<style scoped lang="scss">

    .drop-label-overlay {
        padding: 6px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 36px;
        width: 100%;
        text-align: center;
        background-color: #00000059;
        color: white;
        font-size: 0.8em;
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }

    .drop-progress {
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 36px;
        left: 0;
        border-radius: 0;
    }


</style>
