<template>
    <b-modal
        hide-header
        :scrollable="scrollable"
        :visible=visible
        :no-close-on-backdrop=noCloseOnBackdrop
        :no-close-on-esc=noClosoOnEsc
        :centered=centered
        :no-enforce-focus="noEnforceFocus"
        :size="size"
        body-class="p-0">

        <div class="d-flex bg-primary text-white subtitle p-1 align-items-center">
            <octo-icon v-if="titleIcon" :icon="titleIcon" class="mx-2"/>
            <div>{{title}}</div>
        </div>

        <div class="p-2">
            <slot></slot>
        </div>
        <template v-slot:modal-footer>
            <div class="d-flex justify-content-end" v-if="buttons.length">
                <div v-for="(button, index) in buttons" v-bind:key="index"
                     class="text-uppercase mr-3"
                     :class="`text-${button.variant}`"
                     v-on:click="onButtonClick(button)">
                    {{button.label}}
                </div>
            </div>
        </template>
    </b-modal>
</template>

<script>
    import OctoIcon from "../octo-icon/OctoIcon";

    export default {
        name: "octoModal",
        components: {OctoIcon},
        props: {
            title: {
                type: String,
                require: true
            },
            size: {
                type: String,
                default: 'md'
            },
            visible: {
                type: Boolean,
                default: false
            },
            noCloseOnBackdrop: {
                type: Boolean,
                default: false
            },
            noClosoOnEsc: {
                type: Boolean,
                default: false
            },
            centered: {
                type: Boolean,
                default: true
            },
            noEnforceFocus: {
                type: Boolean,
                default: false
            },
            titleIcon: {
                type: [Boolean, String],
                default: false
            },
            buttons: {
                type: Array,
                default: () => []
            },
            confirmTitle: {
                type: String,
                default: 'Please Confirm'
            },
            confirmMessage: {
                type: String,
                default: 'Please confirm that you want to proceed'
            },
            scrollable: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            onButtonClick(button) {
                if (button.confirm) {
                    this.$bvModal.msgBoxConfirm(
                        this.confirmMessage, {
                            title: this.confirmTitle,
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'primary',
                            cancelVariant: 'dark',
                            okTitle: 'SI',
                            cancelTitle: 'NO',
                            footerClass: 'p-1',
                            headerClass: 'py-1 px-2',
                            hideHeaderClose: true,
                            noCloseOnBackdrop: true,
                            noCloseOnEsc: true,
                            centered: true
                        })
                        .then(value => {
                            if (value) {
                                this.$emit(button.onClick)
                            }
                        })
                } else {
                    this.$emit(button.onClick)
                }

            }
        }
    }
</script>

<style lang="scss">


</style>
