$primary: #01B6AB;
$primary-dark: #2e6533;
$secondary: #1F497D;
$secondary-dark: #1F497D;

$text-color: #53565e;
$bg-color: #f9f9f9;

$button-text-primary: white;
$button-bg-primary-light: $primary;
$button-bg-primary-dark: $primary-dark;
$button-border-primary: #256034;

$button-text-secondary: $primary;
$button-bg-secondary-light: white;
$button-bg-secondary-dark: #dcdcdc;
$button-border-secondary: $primary;

@import "../../octo-cms-components/style";

@import "./custom";




