@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    font-size: 12px;
    font-weight: 300;
    background-color: $bg-color;
}

*:focus {
    outline: none;
}

.title {
    font-size: 22px;
    font-weight: 400;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
}

.main-content {
    margin-left: 200px;
    margin-top: 60px;
}

.main-navbar {
    height: 50px;
    display: flex;
    width: 100%;
    background-color: $primary;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.main-sidebar {
    min-height: 100vh;
    display: flex;
    width: 200px;
    position: fixed;
    top: 0px;
    z-index: 5;
    padding-top: 60px;

    .list-group {
        .list-group-item {
            background-color: transparent;
        }
    }
}
