<template>
    <b-container fluid class="px-0">
        <b-row class="no-gutters">
            <b-col cols="auto">
                <div class="position-relative container-image"
                     @click="onClickOnImage"
                     @dragover.prevent @drop.stop.prevent="addFileFromDrag">
                    <div class="info">
                        <div class="text-center text-white">Drag or Click to Upload</div>
                    </div>
                    <img :src="imageUrl"
                         class="img-thumbnail shadow-sm image" alt=""/>
                    <input accept="image/*" type="file" @change="addFileFromClick" v-show="false" ref="fileInput"/>
                </div>
            </b-col>
            <b-col>
                <b-list-group flush class="ml-3">
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Alt:</div>
                        <div>{{ picture.alt || '--' }}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Caption:</div>
                        <div>{{ picture.caption || '--' }}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Title:</div>
                        <div>{{ picture.title || '--' }}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2">
                        <span class="text-primary">Description: </span>
                        {{ picture.description || '--' }}
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
        <octo-modal :visible="showModal"
                    title="Upload Image"
                    title-icon="image"
                    size="lg"
                    :buttons="buttons"
                    @onSaveImage="onSaveImage">
            <b-container>
                <b-row>
                    <b-col cols="7">
                        <octo-cropper
                            :is-new-image="isNewImage"
                            @onUploadNewImage="(item) => this.isNewImage = item"
                            ref="octoCropper"
                            :show-modal="showModal"
                            :img-to-crop="imgToCrop"/>
                    </b-col>
                    <b-col cols="5">

                        <octo-input label="alt"
                                    class="mb-3"
                                    v-model="pictureLocal.alt"
                                    name="alt"/>

                        <octo-input label="caption"
                                    class="mb-3"
                                    v-model="pictureLocal.caption"
                                    name="caption"/>

                        <octo-input label="title"
                                    class="mb-3"
                                    v-model="pictureLocal.title"
                                    name="title"/>

                        <octo-text-area label="Description"
                                        v-model="pictureLocal.description"
                                        name="description"/>

                    </b-col>
                </b-row>
            </b-container>
        </octo-modal>
    </b-container>
</template>

<script>

    import OctoCropper from "../octo-cropper/OctoCropper";
    import OctoModal from "../octo-modal/OctoModal";
    import OctoInput from "../octo-input/OctoInput";
    import OctoTextArea from "../octo-text-area/OctoTextArea";
    import PictureHtml from "../models/pictureHtml";

    export default {
        name: "OctoImageHtml",
        components: {OctoTextArea, OctoInput, OctoModal, OctoCropper},
        data() {
            return {
                file: null,
                pictureLocal: PictureHtml,
                imageMetaData: {},
                imgToCrop: '',
                showModal: false,
                isNewImage: false,
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveImage',
                        variant: 'primary',

                    }
                ],
            }
        },
        props: {
            picture: {
                type: Object,
                default: () => PictureHtml
            },
        },
        computed: {

            imageUrl: function () {
                return this.pictureLocal.newImage && this.pictureLocal.newImage.src
                    ? this.pictureLocal.newImage.src
                    : (this.pictureLocal.src
                            ? process.env.MIX_BUCKET_BASE_URL + '/' + process.env.MIX_BUCKET_NAME + '/' + this.pictureLocal.src
                            : require('./placeholder.png')
                    );
            },

        },
        mounted() {
            this.$root.$on('bv::modal::hide', () => {
                this.showModal = false;
            });
            this.pictureLocal = this.$_.cloneDeep(this.picture);
        },
        methods: {

            onClickOnImage: function () {
                if (this.imageUrl !== require('./placeholder.png')) {
                    this.imgToCrop = this.imageUrl;
                    this.showModal = true;
                    this.isNewImage = false;
                } else {
                    this.$refs.fileInput.click();
                    this.isNewImage = true;
                }
            },

            addFileFromDrag: function (file) {
                this.file = file.dataTransfer.files[0];
                this.imgToCrop = URL.createObjectURL(this.file)
                this.showModal = true;
                this.isNewImage = true;

            },

            addFileFromClick: function (event) {
                this.file = event.target.files[0];
                if (this.file) {
                    this.imgToCrop = URL.createObjectURL(this.file)
                    this.showModal = true;
                    this.isNewImage = true;
                }
            },

            onSaveImage() {
                const croppedImage = this.$refs.octoCropper.getCroppedImage();
                if (croppedImage) {
                    this.$fullLoading.show();
                    this.$api.post(
                        'api/admin/v1/sitebuilder/block-html/upload-media',
                        croppedImage
                    )
                        .then((resp) => {
                            this.$fullLoading.hide();
                            this.$set(this.pictureLocal, 'src', resp.data.src);
                            this.$set(this.pictureLocal, 'webp', resp.data.webp);
                            this.showModal = false;
                            this.$emit('onSaveImage', this.pictureLocal)
                        })
                        .catch(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Immagine non salvata', {
                                title: 'Saving...',
                                variant: 'danger'
                            });
                        })
                } else {
                    this.$emit('onSaveImage', this.pictureLocal);
                    this.showModal = false;
                }


            },

        },
    }
</script>

<style scoped lang="scss">
    .info {
        position: absolute;
        height: 26px;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(42, 37, 37, 0.56);
        font-size: 9px;
    }

    .container-image {
        width: 120px;
        height: 120px;
    }

    .image {
        height: 100%;
        width: 100%;
        object-fit: contain;

    }
</style>
