<template>
    <div class="OctoSelect">
        <label class="OctoSelect__Label" v-if="label" :for="`input-${name}`">
            {{label}}
        </label>
        <b-form-select
            class="OctoSelect__Input"
            v-model="localValue"
            :id="`input-${name}`"
            :placeholder="placeholder"
            @change="(item) => $emit('change', item)"
            :options="options"/>
    </div>
</template>

<script>
    export default {
        name: "OctoSelect",
        data() {
            return {
                localValue: null
            };
        },
        props: {
            label: {
                default: null,
                type: [String]
            },
            options: {
                required: true,
                type: Array
            },
            name: {
                required: true,
                type: [String]
            },
            value: {
                required: true,
            },
            placeholder: {
                default: '',
                type: [String]
            },
        },
        created() {
            this.localValue = this.value;
        },
        watch: {
            value: function () {
                this.localValue = this.value;
            },
            localValue: function (val) {
                this.$emit("input", val ? val : '');
            }
        }
    }
</script>

<style scoped>

</style>
