<template>
    <div class="OctoMultiselect">
        <label class="OctoMultiselect__Label" v-if="label">
            {{label}}
        </label>
        <multiselect
            track-by="value"
            v-model="localValue"
            :disabled="disabled"
            :multiple="multiple"
            :close-on-select="closeOnSelect"
            :placeholder="placeholder"
            :searchable="searchable"
            :options="options"
            :label="label"
            :deselectLabel="deselectLabel"
            :selectLabel="selectLabel"
            :hide-selected="hideSelected"
            @select="(item) => $emit('select', item)"
            @remove="(item) => $emit('remove', item)"
            :limit="limit">

            <template slot="singleLabel" slot-scope="{ option }">
                <div class="text-left text-truncate">
                    <strong v-if="option.value">{{ option.name }}</strong>
                </div>
            </template>

            <template slot="option" slot-scope="props">
                <div class="option__desc text-truncate">
                    {{ props.option.name }}
                </div>
            </template>

            <template slot="tag" slot-scope="{ option }">
                {{ option.name }}
            </template>

            <template slot="tag" slot-scope="{ option, remove }">
                <div class="mr-2 d-inline-block">
                    <div class="d-flex bg-primary text-white px-2 py-1 text-uppercase rounded">
                        <div>{{ option.name }}</div>
                        <div @click="remove(option)" class="ml-2"><octo-icon icon="delete"/></div>
                    </div>
                </div>

            </template>

        </multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import OctoIcon from "../octo-icon/OctoIcon";

    export default {
        name: "OctoMultiselect",
        components: {OctoIcon, Multiselect},
        data() {
            return {
                localValue: []
            };
        },
        props: {
            value: {
                required: true,
            },
            label: {
                default: null,
                type: [String]
            },
            options: {
                required: true,
                type: Array
            },
            deselectLabel: {
                type: String,
                default: 'Remove'
            },
            selectLabel: {
                type: String,
                default: 'Select'
            },
            placeholder: {
                default: '',
                type: [String]
            },
            multiple: {
                default: true,
                type: Boolean
            },
            searchable: {
                default: true,
                type: Boolean
            },
            closeOnSelect: {
                default: true,
                type: Boolean
            },
            hideSelected: {
                default: true,
                type: Boolean
            },
            limit: {
                default: 99999,
                type: Number
            },
            disabled: {
                default: false,
                type: Boolean
            }
        },
        created() {
            this.localValue = this.value;
        },
        watch: {
            value: function (val) {
                if (!this.$_.isEmpty(val)) {
                    this.localValue = val;
                    this.$emit('input', this.localValue);
                }
            },
            localValue: function (val) {
                this.$emit("input", val);
            }
        },
    }
</script>

<style scoped>

</style>
