.OctoSelectAsync {
    position: relative;

    &__Label {
        text-transform: uppercase;
        margin-bottom: 2px;
        font-weight: 200;
    }

    .multiselect {
        min-height: 37px;
        height: 37px;
        &__tags {
            border: 1px solid lightgray;
            background-color: white;
            min-height: 37px;
            height: 37px;
            padding: 6px 40px 0 8px;
        }

        &__input {
            font-weight: 200;
            line-height: normal;
            font-size: 1rem;
        }

        &__single {
            font-weight: 200;
            line-height: normal;
            font-size: 1rem;
            margin-bottom: 0px;
            margin-top: 5px;
        }

        &__option {
            font-weight: 200;
            line-height: normal;
            font-size: 1rem;
        }
    }
}
