<template>
    <div class="OctoSelectAsync">
        <label class="OctoSelectAsync__Label" v-if="label">
            {{label}}
        </label>
        <multiselect
            ref="hubselectAsync"
            :placeholder="placeholder"
            v-model="localValue"
            :options="options"
            :loading="isLoading"
            :label="label"
            :searchable="true"
            :deselectLabel="deselectLabel"
            :selectLabel="selectLabel"
            :internal-search="false"
            :show-no-results="false"
            @input="onInput"
            @search-change="asyncFind">

            <template slot="singleLabel" slot-scope="{ option }">
                <div :class="'text-' + textAlign" class="text-truncate">
                    <strong v-if="option.value">{{ option.name }}</strong>
                </div>
            </template>

            <template slot="option" slot-scope="props">
                <div class="option__desc text-truncate">
                    {{ props.option.name }}
                </div>
            </template>

            <span slot="noResult">Nessun Risultato...</span>

        </multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        name: "OctoSelectAsync",
        components: {Multiselect},
        data() {
            return {
                isLoading: false,
                localValue: null,
                options: []
            };
        },
        props: {

            value: {
                default: null
            },

            label: {
                default: null,
                type: String
            },
            textAlign: {
                default: 'left',
                type: String
            },
            deselectLabel: {
                type: String,
                default: 'Remove'
            },
            selectLabel: {
                type: String,
                default: 'Select'
            },
            placeholder: {
                type: String,
                default: 'Type to search ...'
            },

            asyncFindExtraParams: {
                type: Object,
                default: () => ({})
            },
            asyncFindAction: {
                type: String,
                default: ''
            },
        },
        created() {
            this.localValue = this.value;
        },
        watch: {
            value: function (val) {
                if (!this.$_.isEmpty(val)) {
                    this.options = [ val ];
                    this.localValue = val;
                    this.$emit('input', this.localValue);
                }
            },
            localValue: function (val) {
                this.$emit("input", val);
            }
        },

        methods: {
            onInput(input) {
                this.$emit('input', input)
            },

            getAsyncOptions(query) {
                const params = this.asyncFindExtraParams;
                params.query = query ? query : '';
                this.isLoading = true;
                this.$api.post(this.asyncFindAction, params)
                    .then(resp => {
                        this.isLoading = false;
                        this.options = resp.data;
                    })
                    .catch(() => {
                        this.isLoading = false;
                    })
            },
            asyncFind(query) {
                if (this.asyncFindAction && query.length >= 3) {
                    this.getAsyncOptions(query)
                }
            }
        }
    }
</script>

<style scoped>

</style>
