<template>
    <b-container fluid class="px-0">
        <b-row class="no-gutters align-items-center">
            <b-col cols="auto">
                <div class="position-relative container-image"
                     @click="onClickOnImage"
                     @dragover.prevent @drop.stop.prevent="addFileFromDrag">
                    <div class="info">
                        <div class="text-center text-white">Drag or Click to Upload</div>
                    </div>
                    <img :src="imageUrl" class="img-thumbnail shadow-sm image" alt=""/>
                    <input accept="image/*" type="file" @change="addFileFromClick" v-show="false" ref="fileInput"/>
                </div>
            </b-col>
            <b-col>
                <b-list-group flush class="ml-3">
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Tag:</div>
                        <div>{{tag}}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Alt:</div>
                        <div>{{$langLabel(pictureLocal.pictureLangs, 'alt', currentLang) || '--'}}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Caption:</div>
                        <div>{{$langLabel(pictureLocal.pictureLangs, 'caption', currentLang) || '--'}}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2 d-flex justify-content-between">
                        <div class="text-primary">Title:</div>
                        <div>{{$langLabel(pictureLocal.pictureLangs, 'title', currentLang) || '--'}}</div>
                    </b-list-group-item>
                    <b-list-group-item class="bg-transparent p-2">
                        <span class="text-primary">Description: </span>
                        {{$langLabel(pictureLocal.pictureLangs, 'description', currentLang) || '--'}}
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
        <octo-modal :visible="showModal"
                    title="Upload Image"
                    title-icon="image"
                    size="lg"
                    :buttons="buttons"
                    @onSaveImage="onSaveImage">
            <b-container>
                <b-row>
                    <b-col cols="7">
                        <octo-cropper :is-new-image="isNewImage"
                                      @onUploadNewImage="(item) => this.isNewImage = item"
                                      ref="octoCropper"
                                      :show-modal="showModal"
                                      :img-to-crop="imgToCrop"/>
                    </b-col>
                    <b-col cols="5">
                        <octo-lang-selector :current-lang="currentLangLocal"
                                            title="image meta data"
                                            @onChangeLanguage="(language) => this.currentLangLocal = language"/>
                        <div v-for="(pictureLang, index) in pictureLangsForm" v-bind:key="index">
                            <div v-if="currentLangLocal === pictureLang.lang">
                                <octo-input label="alt"
                                            class="mb-3"
                                            v-model="pictureLang.alt"
                                            :name="`alt-${pictureLang.lang}`"/>

                                <octo-input label="caption"
                                            class="mb-3"
                                            v-model="pictureLang.caption"
                                            :name="`caption-${pictureLang.lang}`"/>

                                <octo-input label="title"
                                            class="mb-3"
                                            v-model="pictureLang.title"
                                            :name="`title-${pictureLang.lang}`"/>

                                <octo-text-area label="Description"
                                                v-model="pictureLang.description"
                                                :name="`description-${pictureLang.lang}`"/>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </octo-modal>
    </b-container>
</template>

<script>

    import OctoCropper from "../octo-cropper/OctoCropper";
    import OctoModal from "../octo-modal/OctoModal";
    import OctoInput from "../octo-input/OctoInput";
    import OctoTextArea from "../octo-text-area/OctoTextArea";
    import OctoLangSelector from "../octo-lang-selector/OctoLangSelector";
    import Picture from "../models/picture";
    import PictureLang from "../models/pictureLang";

    export default {
        name: "OctoImageEntity",
        components: {OctoLangSelector, OctoTextArea, OctoInput, OctoModal, OctoCropper},
        data() {
            return {
                currentLangLocal: '',
                languagesLocal: [],
                file: null,
                pictureLocal: Picture,
                pictureLangsForm: [],
                imgToCrop: '',
                isNewImage: true,
                showModal: false,
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveImage',
                        variant: 'primary',
                    },
                ],
            }
        },
        props: {
            picture: {
                type: Object,
                default: () => Picture
            },
            languages: {
                type: Array,
                default: null
            },
            currentLang: {
                type: String,
                default: null
            },
            tag: {
                type: String,
                default: 'main'
            }
        },
        computed: {
            imageUrl: function () {
                return this.pictureLocal.newImage && this.pictureLocal.newImage.src
                    ? this.pictureLocal.newImage.src
                    : (this.pictureLocal.src
                            ? process.env.MIX_BUCKET_BASE_URL + '/' + process.env.MIX_BUCKET_NAME + '/' + this.pictureLocal.src
                            : require('./placeholder.png')
                    );
            },
        },
        mounted() {
            this.$root.$on('bv::modal::hide', () => {
                this.showModal = false;
            });

            this.languagesLocal = this.languages ? this.languages : this.$localStorage.getLanguages();

            this.pictureLocal = this.$_.cloneDeep(this.picture);

            this.pictureLocal.tag = this.tag;

            this.pictureLangsForm = this.$_.cloneDeep(this.pictureLocal.pictureLangs) || [];

            this.$_.each(this.languagesLocal, language => {
                if (!this.$_.find(this.pictureLangsForm, (item) => {
                    return item.lang === language;
                })) {
                    const itemLang = this.$_.cloneDeep(PictureLang);
                    itemLang.lang = language;
                    itemLang.picture_id = this.pictureLocal.id;
                    this.pictureLangsForm.push(itemLang);
                }
            });

            this.currentLangLocal = this.currentLang ? this.currentLang : this.$localStorage.getSettings().locale;

        },
        methods: {
            onClickOnImage: function () {
                if (this.imageUrl !== require('./placeholder.png')) {
                    this.imgToCrop = this.imageUrl;
                    this.showModal = true;
                    this.isNewImage = false;
                } else {
                    this.$refs.fileInput.click();
                    this.isNewImage = true;
                }
            },

            addFileFromDrag: function (file) {
                this.file = file.dataTransfer.files[0];
                this.imgToCrop = URL.createObjectURL(this.file)
                this.showModal = true;
                this.isNewImage = true;
            },

            addFileFromClick: function (event) {
                this.file = event.target.files[0];
                if (this.file) {
                    this.imgToCrop = URL.createObjectURL(this.file)
                    this.showModal = true;
                    this.isNewImage = true;
                }
            },

            onSaveImage: function () {
                const croppedImage = this.$refs.octoCropper.getCroppedImage();
                if (croppedImage) {
                    this.$set(this.pictureLocal, 'newImage', croppedImage);
                }
                this.$set(this.pictureLocal, 'pictureLangs', this.pictureLangsForm);
                this.showModal = false;
                this.$emit('onSaveImage', this.pictureLocal);
            },

        },
    }
</script>

<style scoped lang="scss">
    .info {
        position: absolute;
        height: 22px;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(42, 37, 37, 0.56);
        font-size: 10px;
    }

    .container-image {
        width: 140px;
        height: 140px;
    }

    .image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>
