<template>
    <div @focusin.stop>
        <editor
            output-format="html"
            :initialValue="initialValue"
            :api-key="apiKey"
            :init="init"
            @onChange="(item) => $emit('onEditorUpdate', item.level.content)"/>
    </div>
</template>

<script>
import editor from "@tinymce/tinymce-vue";

export default {
    name: "OctoRichText",
    components: {
        editor
    },
    data() {
        return {
            apiKey: process.env.MIX_APP_TINYMCE_KEY
        }
    },
    props: {
        editorHeight: {
            type: Number,
            default: 120
        },
        initialValue: {
            type: [String, null],
            require: false
        },
        inline: {
            type: Boolean,
            default: false
        }
    },
    computed: {

        init: function () {
            return {
                height: this.editorHeight,
                menubar: false,
                inline: this.inline,
                max_height: 500,
                min_height: 100,
                branding: false,
                width: 'auto',
                content_style: "body { font-family: 'Montserrat', sans-serif; font-size: 12px; font-weight: 300; }",
                plugins: [
                    'advlist autolink lists link image charmap',
                    'searchreplace visualblocks code fullscreen',
                    'print preview anchor insertdatetime media',
                    'paste code help wordcount table autoresize'
                ],
                toolbar:
                    'undo redo | formatselect | bold italic | alignleft aligncenter alignright | \
                    bullist numlist outdent indent | link | code',
                forced_root_block: false,
            }
        }
    },
    mounted() {

    },
    methods: {}
}
</script>

<style lang="scss">

.tox-tinymce {
    border: none !important;
}
</style>
