    /*
    Flaticon icon font: Flaticon
    Creation date: 09/09/2020 18:37
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-turn-off:before { content: "\f100"; }
.flaticon-pen:before { content: "\f101"; }
.flaticon-open-folder:before { content: "\f102"; }
.flaticon-tick:before { content: "\f103"; }
.flaticon-wrong:before { content: "\f104"; }
.flaticon-pencil:before { content: "\f105"; }
.flaticon-profile:before { content: "\f106"; }
.flaticon-key:before { content: "\f107"; }
.flaticon-search:before { content: "\f108"; }
.flaticon-home:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-cloud-computing:before { content: "\f10b"; }
.flaticon-floppy-disk:before { content: "\f10c"; }
.flaticon-delete:before { content: "\f10d"; }
.flaticon-plus:before { content: "\f10e"; }
.flaticon-refresh:before { content: "\f10f"; }
.flaticon-coding:before { content: "\f110"; }
.flaticon-server:before { content: "\f111"; }
.flaticon-slider:before { content: "\f112"; }
.flaticon-image:before { content: "\f113"; }
.flaticon-text:before { content: "\f114"; }
.flaticon-image-1:before { content: "\f115"; }
.flaticon-text-1:before { content: "\f116"; }
.flaticon-menu:before { content: "\f117"; }
.flaticon-web-programming:before { content: "\f118"; }
.flaticon-up-arrow:before { content: "\f119"; }
.flaticon-down-arrow:before { content: "\f11a"; }
.flaticon-sign:before { content: "\f11b"; }
.flaticon-interface:before { content: "\f11c"; }
.flaticon-diagram:before { content: "\f11d"; }
.flaticon-external-link-symbol:before { content: "\f11e"; }
.flaticon-right-arrow:before { content: "\f11f"; }
.flaticon-crop:before { content: "\f120"; }
.flaticon-tag:before { content: "\f121"; }
.flaticon-zoom-in:before { content: "\f122"; }
.flaticon-zoom-out:before { content: "\f123"; }
.flaticon-left-arrow:before { content: "\f124"; }
.flaticon-rotate:before { content: "\f125"; }
.flaticon-rotate-1:before { content: "\f126"; }
.flaticon-flip:before { content: "\f127"; }
.flaticon-flip-1:before { content: "\f128"; }
.flaticon-list:before { content: "\f129"; }
.flaticon-facebook:before { content: "\f12a"; }
.flaticon-twitter:before { content: "\f12b"; }
.flaticon-instagram:before { content: "\f12c"; }
.flaticon-settings:before { content: "\f12d"; }