<template>
  <i :class="`fi flaticon-${icon}`"></i>
</template>

<script>
  export default {
    name: "OctoIcon",
    props: {
      icon: {
        default: 'car',
        type: String
      },
    },
  }
</script>

<style scoped lang="scss">

    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.eot");
        src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
        url("./Flaticon.woff2") format("woff2"),
        url("./Flaticon.woff") format("woff"),
        url("./Flaticon.ttf") format("truetype"),
        url("./Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: "Flaticon";
            src: url("./Flaticon.svg#Flaticon") format("svg");
        }
    }

    .fi:before {
        display: inline-block;
        font-family: "Flaticon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }

    .flaticon-turn-off:before { content: "\f100"; }
    .flaticon-pen:before { content: "\f101"; }
    .flaticon-open-folder:before { content: "\f102"; }
    .flaticon-tick:before { content: "\f103"; }
    .flaticon-wrong:before { content: "\f104"; }
    .flaticon-pencil:before { content: "\f105"; }
    .flaticon-profile:before { content: "\f106"; }
    .flaticon-key:before { content: "\f107"; }
    .flaticon-search:before { content: "\f108"; }
    .flaticon-home:before { content: "\f109"; }
    .flaticon-calendar:before { content: "\f10a"; }
    .flaticon-cloud-computing:before { content: "\f10b"; }
    .flaticon-floppy-disk:before { content: "\f10c"; }
    .flaticon-delete:before { content: "\f10d"; }
    .flaticon-plus:before { content: "\f10e"; }
    .flaticon-refresh:before { content: "\f10f"; }
    .flaticon-coding:before { content: "\f110"; }
    .flaticon-server:before { content: "\f111"; }
    .flaticon-slider:before { content: "\f112"; }
    .flaticon-image:before { content: "\f113"; }
    .flaticon-text:before { content: "\f114"; }
    .flaticon-image-1:before { content: "\f115"; }
    .flaticon-text-1:before { content: "\f116"; }
    .flaticon-menu:before { content: "\f117"; }
    .flaticon-web-programming:before { content: "\f118"; }
    .flaticon-up-arrow:before { content: "\f119"; }
    .flaticon-down-arrow:before { content: "\f11a"; }
    .flaticon-sign:before { content: "\f11b"; }
    .flaticon-interface:before { content: "\f11c"; }
    .flaticon-diagram:before { content: "\f11d"; }
    .flaticon-external-link-symbol:before { content: "\f11e"; }
    .flaticon-right-arrow:before { content: "\f11f"; }
    .flaticon-crop:before { content: "\f120"; }
    .flaticon-tag:before { content: "\f121"; }
    .flaticon-zoom-in:before { content: "\f122"; }
    .flaticon-zoom-out:before { content: "\f123"; }
    .flaticon-left-arrow:before { content: "\f124"; }
    .flaticon-rotate:before { content: "\f125"; }
    .flaticon-rotate-1:before { content: "\f126"; }
    .flaticon-flip:before { content: "\f127"; }
    .flaticon-flip-1:before { content: "\f128"; }
    .flaticon-list:before { content: "\f129"; }
    .flaticon-facebook:before { content: "\f12a"; }
    .flaticon-twitter:before { content: "\f12b"; }
    .flaticon-instagram:before { content: "\f12c"; }
    .flaticon-settings:before { content: "\f12d"; }

    $font-Flaticon-turn-off: "\f100";
    $font-Flaticon-pen: "\f101";
    $font-Flaticon-open-folder: "\f102";
    $font-Flaticon-tick: "\f103";
    $font-Flaticon-wrong: "\f104";
    $font-Flaticon-pencil: "\f105";
    $font-Flaticon-profile: "\f106";
    $font-Flaticon-key: "\f107";
    $font-Flaticon-search: "\f108";
    $font-Flaticon-home: "\f109";
    $font-Flaticon-calendar: "\f10a";
    $font-Flaticon-cloud-computing: "\f10b";
    $font-Flaticon-floppy-disk: "\f10c";
    $font-Flaticon-delete: "\f10d";
    $font-Flaticon-plus: "\f10e";
    $font-Flaticon-refresh: "\f10f";
    $font-Flaticon-coding: "\f110";
    $font-Flaticon-server: "\f111";
    $font-Flaticon-slider: "\f112";
    $font-Flaticon-image: "\f113";
    $font-Flaticon-text: "\f114";
    $font-Flaticon-image-1: "\f115";
    $font-Flaticon-text-1: "\f116";
    $font-Flaticon-menu: "\f117";
    $font-Flaticon-web-programming: "\f118";
    $font-Flaticon-up-arrow: "\f119";
    $font-Flaticon-down-arrow: "\f11a";
    $font-Flaticon-sign: "\f11b";
    $font-Flaticon-interface: "\f11c";
    $font-Flaticon-diagram: "\f11d";
    $font-Flaticon-external-link-symbol: "\f11e";
    $font-Flaticon-right-arrow: "\f11f";
    $font-Flaticon-crop: "\f120";
    $font-Flaticon-tag: "\f121";
    $font-Flaticon-zoom-in: "\f122";
    $font-Flaticon-zoom-out: "\f123";
    $font-Flaticon-left-arrow: "\f124";
    $font-Flaticon-rotate: "\f125";
    $font-Flaticon-rotate-1: "\f126";
    $font-Flaticon-flip: "\f127";
    $font-Flaticon-flip-1: "\f128";
    $font-Flaticon-list: "\f129";
    $font-Flaticon-facebook: "\f12a";
    $font-Flaticon-twitter: "\f12b";
    $font-Flaticon-instagram: "\f12c";
    $font-Flaticon-settings: "\f12d";

</style>
