<template>
    <div>
        <b-row>
            <b-col cols="12" class="d-flex">
                <b-alert :show="true"
                         variant="primary"
                         class="text-uppercase text-left py-1 flex-grow-1">
                    tags
                </b-alert>
                <div class="d-flex" v-on:click="openTagModal">
                    <b-alert :show="true"
                             class="text-uppercase d-flex justify-content-center ml-2 py-1 px-2 flex-grow-1"
                             variant="light">
                        <octo-icon icon="pen"/>
                    </b-alert>
                </div>
            </b-col>
            <b-col cols="12">
                <div class="d-flex flex-wrap">
                    <b-card no-body class="mx-1 mb-1 p-2"
                            v-for="(tag, index) in localSelectedTags" v-bind:key="index">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                {{tag.name}}
                            </div>
                            <div class="ml-2" v-on:click="removeTag(index)">
                                <octo-icon icon="delete"/>
                            </div>
                        </div>
                    </b-card>
                </div>
            </b-col>
        </b-row>
        <octo-tag-modal :show-modal="showTagModal"
                        :selected-tags="localSelectedTags"
                        :key="tagModalKey"
                        :group="group"
                        @onCloseModal="showTagModal = false"
                        @onSaveSelectedTags="saveSelectedTags"/>
    </div>
</template>

<script>
    import OctoIcon from "../octo-icon/OctoIcon";
    import OctoTagModal from "./modal/OctoTagModal";

    export default {
        name: "OctoTagManager",
        components: {OctoTagModal, OctoIcon},
        data() {
            return {
                localSelectedTags: [],
                showTagModal: false,
                tagModalKey: 0,
            }
        },
        props: {
            group: {
                type: String,
                default: ''
            },
            selectedTags: {
                type: Array,
                default: () => []
            }
        },
        methods: {
            openTagModal() {
                this.tagModalKey++;
                this.showTagModal = true;
            },

            saveSelectedTags(selectedTags) {
                this.localSelectedTags = selectedTags;
                this.showTagModal = false;

            },

            removeTag(index) {
                this.localSelectedTags.splice(index, 1);
            },

            getEntityTags: function () {
                return this.$_.map(this.localSelectedTags, (tag) => {
                    return tag.name;
                });
            },
        },
        mounted() {
            this.localSelectedTags = this.$_.cloneDeep(this.selectedTags);

            this.$root.$on('bv::modal::hide', () => {
                this.showTagModal = false;
            });
        }
    }
</script>

<style scoped>

</style>
