<template>
    <octo-modal
        :visible="showModal"
        :buttons="buttons"
        size="lg"
        title="Tags"
        title-icon="tag"
        @onSaveSelectedTags="$emit('onSaveSelectedTags', localSelectedTags)"
        @onCloseModal="$emit('onCloseModal')"
    >
        <div class="m-2">
            <b-row>
                <b-col cols="12">
                    <p>Seleziona dei tag esistenti oppure aggiungine uno nuovo</p>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="10">
                    <octo-input class="mb-4"
                                label="Custom tag"
                                name="customTag"
                                :error="error"
                                @input="error = false"
                                v-model="customTag"/>
                </b-col>
                <b-col cols="2" class="d-flex align-items-end">
                    <octo-button block
                                 icon="plus"
                                 @onClick="addCustomTag"/>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="4" v-for="(tag, index) in tags" v-bind:key="index">
                    <b-card no-body class="p-2 mb-3">
                        <div class="d-flex align-items-center">
                            <div>
                                <div>{{tag.name}}</div>
                            </div>
                            <div class="ml-auto">
                                <b-form-checkbox
                                    v-model="checkedTags[tag.slug]"
                                    @input="selectTag($event, tag)"
                                    :name="`checkTags-${tag.slug}`" switch />
                            </div>
                        </div>
                    </b-card>
                </b-col>
            </b-row>
            <div class="d-flex justify-content-center">
                <b-pagination
                    size="sm"
                    class="mb-0"
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="rowsInPage"
                    @input="loadTags"
                />
            </div>
        </div>
    </octo-modal>
</template>

<script>
    import OctoModal from "../../octo-modal/OctoModal";
    import OctoInput from "../../octo-input/OctoInput";
    import OctoButton from "../../octo-button/OctoButton";

    export default {
        name: "OctoTagModal",
        components: {OctoButton, OctoInput, OctoModal},
        data() {
            return {
                error: false,
                customTag: '',
                tags: [],
                currentPage: 1,
                rowsInPage: 18,
                totalRows: 0,
                checkedTags: [],
                localSelectedTags: [],
                buttons: [
                    {
                        label: 'salva',
                        variant: 'primary',
                        onClick: 'onSaveSelectedTags'
                    },
                    {
                        label: 'chiudi',
                        variant: 'primary',
                        onClick: 'onCloseModal'
                    },
                ],
            }
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            group: {
                type: String,
                default: ''
            },
            selectedTags: {
                type: Array,
                default: () => []
            }
        },
        methods: {

            loadTags: function() {
                this.$api.post('api/admin/v1/tags/get-by-group', {
                    group: this.group,
                    currentPage: this.currentPage,
                    rowsInPage: this.rowsInPage
                })
                    .then((resp) => {
                        this.tags = resp.data.collection;
                        this.totalRows = resp.data.total;
                    }).catch(() => {
                    this.$bvToast.toast('Errore al caricare i tags', {
                        title: 'Loading...',
                        variant: 'danger'
                    });
                });
            },

            addCustomTag: function() {
                if (this.customTag !== '') {
                    this.$fullLoading.show();
                    this.$api.post('api/admin/v1/tags', {
                        name: this.customTag,
                        group: this.group
                    })
                        .then(() => {
                            this.loadTags();
                            this.$fullLoading.hide();
                        })
                        .catch(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Tag non salvato', {
                                title: 'Saving...',
                                variant: 'danger'
                            });
                        })
                } else {
                    this.error = true;
                }
            },

            selectTag: function(checked, tag) {
                if(checked) {
                    this.localSelectedTags.push(tag);
                } else {
                    this.$_.remove(this.localSelectedTags, (tagToRemove) => {
                        return tag.slug === tagToRemove.slug
                    })
                }
            },
        },
        mounted() {
            this.localSelectedTags = this.$_.cloneDeep(this.selectedTags);
            this.checkedTags = [];

            this.$_.each(this.localSelectedTags,  (tag) => {
                this.checkedTags[tag.slug] = true;
            });

            this.loadTags();

        },
    }
</script>

<style scoped>

</style>
