<template>
    <b-container fluid class="vh-100">
        <b-row class="align-items-stretch justify-content-center vh-100">
            <b-col class="my-auto" cols="12" md="6" lg="3">
                <b-card no-body class="shadow-lg">
                    <div class="w-50 mx-auto mt-3">
                        <img :src="imgLogo" class="img-fluid">
                    </div>
                    <div class="title text-uppercase text-primary text-center mt-3">
                        {{ title }}
                    </div>
                    <div v-if="nodeEnv" class="small text-uppercase text-center mb-3">
                        {{ nodeEnv }}
                    </div>
                    <div class="px-3">
                        <octo-input
                            icon="profile"
                            v-model="username"
                            name="username"
                            label="username"
                            :error="errors.username"
                            @input="errors.username = false"
                        />
                        <octo-input
                            icon="key-1"
                            class="mt-4"
                            v-model="password"
                            type="password"
                            name="password"
                            label="password"
                            :error="errors.password"
                            @input="errors.password = false"/>
                        <octo-button @onClick="loginUser" class="my-3 mx-auto" label="login"/>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import {routes} from "../routes";

    export default {
        name: "LoginView",
        components: {OctoButton, OctoInput},
        data() {
            return {
                username: '',
                password: '',
                imgLogo: '/assets-' + process.env.MIX_ADMIN_PREFIX + '/img/logo.png',
                errors: {}
            }
        },
        computed: {
            title: function () {
                return process.env.MIX_ADMIN_TITLE
            },
            nodeEnv: function () {
                return process.env.MIX_APP_ENV === 'production' ? false : process.env.MIX_APP_ENV
            }
        },

        methods: {

            loginUser: function () {
                if (this.validate()) {
                    this.$fullLoading.show();
                    this.$api.get(routes.SANCTUM_CSRF_COOKIE)
                        .then(() => {
                            this.$api.post(routes.USER_LOGIN, {
                                username: this.username,
                                password: this.password
                            })
                                .then((resp) => {
                                    this.$localStorage.set('currentUser', resp.data.data);
                                    this.$routerDispatch.redirect(routes.PAGE_LOAD_CONFIGS);
                                })
                                .catch((err) => {
                                    this.$fullLoading.hide();
                                    this.$errorMessageHandler.display(err);
                                    reject(err)
                                })
                        })
                        .catch((err) => {
                            this.$fullLoading.hide();
                            reject(err)
                        });
                }
            },
            validate() {
                this.errors = {};

                if (this.username === '') {
                    this.errors.username = true;
                }

                if (this.password === '') {
                    this.errors.password = true;
                }

                return this.$_.isEmpty(this.errors);
            }
        }
    }
</script>
