<template>
    <div class="d-flex">
        <b-alert :show="true"
                 variant="primary"
                 class="text-uppercase text-left py-1 flex-grow-1">
            {{title}}
        </b-alert>
        <div class="d-flex"
             v-for="(language, index) in availableLanguages" v-bind:key="index"
             v-on:click="$emit('onChangeLanguage', language)">
            <b-alert :show="true"
                     class="text-uppercase d-flex justify-content-center ml-2 py-1 px-2 flex-grow-1"
                     :variant="currentLang === language ? 'success' : 'light'">
                {{language}}
            </b-alert>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OctoLangSelector",
        props: {
            currentLang: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: 'traduzioni'
            },
            languages: {
                type: Array,
                default: () => []
            }
        },
        computed: {

            availableLanguages: function () {
                return this.languages.length ? this.languages : this.$localStorage.getLanguages()
            }


        }
    }
</script>

<style scoped>

</style>
